.content {
  max-width: 400px;
}

.profile-information {
  display: flex;
  flex-direction: column;
  background-color: red;
  margin: 0;
  background-color: #141414;
  padding: 1rem;
  border-radius: 4px;
}

.profile-information img {
  width: 160px;
  border-radius: 12px;
}

h3,
h5 {
  margin: 0;
}

h3 {
  margin-top: 1rem;
}

h5 {
  font-weight: 400;
  margin-top: 0.5rem;
}
@media screen and (min-width: 700px) {
  .content {
    margin: auto;
  }
}
